<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DATA</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body>
<!-- this is a test -->

<a href="/"><h1>BIG DATA IS THE FUUUUUTURE</h1></a>
