<%- include('./partials/head'); %>

<div class="grid-container" >
    <div class="header ">
        <h3>Please select one of the dataset to run alaysis on</h3>
    </div>
    <% var aCharCode = 97; %>
    <% var numDatasets = 12; %>
    <% for (var i = aCharCode; i <= (aCharCode+(numDatasets-1)); i++) { %>
        <%# this is so the css will match with each div%>
        <% var c = String.fromCharCode(i); %>
        <div class = ' <%=c%> '>
            <a href="./data/<%=(i-aCharCode+1)%>">data-set <%=(i-aCharCode+1)%></a>
        </div>
    <% }%>
</div>