<%- include('./partials/head'); %>

<h3>THE STATS FOR <%=dataSetName%> </h3>

<table>
    <% stats.forEach((item, index) => { %>
        <tr>
            <th>
                <%=%>
            </th>
        </tr>
        
    <% }); %>
</table>